.nav-link {
    color: #000424 !important; /* replace with your desired color */
    font-weight: bold;
    font-size: large;
}

.nav-link:hover {
    background-color: #c2c4d8;
}

.navbar-dark {
    background-color: #000424 !important; /* replace with your desired color */
}